[2017-03-17 15:49] DanRyanIrish opened #12 "Truncate Function for IRISRaster"
This issue describes what is required of a new truncate method on IRISRaster.

Purpose:
To return a new IRISRaster object with the data cube of each spectral window containing only data corresponding to user input criteria applied to a dimension/coordinate system common to all spectral windows.

Inputs:
dimension/coordinate system: `str`
   dimension or coordinate system along which truncation cri

[2017-05-22 15:59] ehsteve opened #18 "Add information for masking of dust on SJI sensor"
This information should be added as a data file in the data directory of the package.

[2017-05-22 17:41] DanRyanIrish opened #20 "Concatenate different SJI observations of same OBS ID."
In some cases, an observing campaign may be broken into two OBS instances, e.g. due to eclipses.  Therefore we need to be able to combine two OBS instances of the OBS ID using SJIMap.

[2017-07-10 18:12] DanRyanIrish opened #25 "Creation of an IRISSpectrogramSequence to Include Calibration and Unit Conversion Functionality"
A new ```IRISSpectrogramSequence``` should be written to replace the use of ```SpectrogramSequence``` in ```IRISSpectrograph```.  ```IRISSpectrogramSequence``` should be subclassed from ```SpectrogramSequence``` and provide the following additional functionalities:
* radiometric calibration
* residual wavelength calibration
* intensity fractional uncertainty
* conversion between DN and photons
* e

[2017-07-10 18:15] ehsteve commented on #25
See http://iris.lmsal.com/itn26/calibration.html

[2017-07-11 16:49] #12 closed

[2017-07-11 16:52] DanRyanIrish opened #26 "Coodinate name/order attribute"
Add a IRISSpectrograph.coord_names attribute which is a tuple of strings giving the coordinate types of each dimension of data CubeSequences, e.g.
[code]

[2017-07-11 17:06] DanRyanIrish opened #27 "Time-Dependent IRIS Effective Areas"
Enable time-dependent effective areas to be derived using get_iris_response() in iris_tools in the same way that it is done in SSW.  See iris_get_response in SSW, a version of which can be found here: https://sohowww.nascom.nasa.gov/solarsoft/iris/idl/lmsal/util/iris_get_response.pro

[2017-07-12 20:51] DanRyanIrish opened #30 "SJICube.date should be an array"
I think it would be useful if ```SJICube.date``` was an array rather than a list so that is more easily indexable with boolean arrays or index arrays.

[2017-07-13 14:18] DanRyanIrish opened #31 "SJICube.plot() Not Returning an Animation"
I tried running ```SJICube.plot()``` to get an animation.  It says it returns a FuncAnimation but is only showing one image and has no sliders.  I'm running it in a jupyter notebook.  I also tried animating it manually using ```sunpy.visualization.imageanimator.Imageanimator``` and it worked fine.  So it's not a jupyter notebook issue.

[2017-07-17 15:09] DanRyanIrish opened #33 "IRISSpectrogaph MetaData Repetition"
The same meta data is given in IRISSpectrograph.meta and in the .meta of the CubeSequences contained within it.  We should decide what metadata goes where.

[2017-07-17 15:53] sjtimothy opened #34 "Include Hek data in SJICube"
A nice to have feature, perhaps in movie tools, would be a hek query to pull start/stop times, descriptions and the bound box for events occurring in the SJICube.

[2017-07-17 17:16] Cadair opened #35 "Better reprs"
Objects should `__repr__` well, this means calling `super()__repr__()` as the first line of a `__repr__` method, and also defining `_repr_html_` where appropriate to make pretty output for the notebook.

@abit2

[2017-07-17 17:17] Cadair commented on #35
same applies to cube.

[2017-07-18 05:14] DanRyanIrish opened #38 "Absolute IRIS Spectral Calibration"
A routine to determine absolute wavelength calibration of IRIS spectrograph data.  There is an equivalent routine in SSW.  More details to follow.

[2017-07-18 05:37] #26 closed

[2017-07-19 03:11] #38 closed

[2017-07-20 17:45] DanRyanIrish opened #41 "Travis not installing master versions of both sunpycube and sunpy"
IRISpy currently relies on the master branch development versions of both sunpy and sunpycube.  Therefore they both need to be installed via Travis in order to properly test IRISpy.  This is typicallu done in the irispy/travis.yml file by including ```git+https://github.com/sunpy/sunpy.git```  the list of ```PIP_DEPENDENCIES```.  However, this does not seem to work when two repos need to be instal

[2017-07-20 18:20] sjtimothy commented on #31
I keep getting this error. It seems updatefig is having trouble updating the axes...

~/Developer/sunpy_dev/sunpy/map/mapcube.py in updatefig(i, im, annotate, ani_data, removes)
    219             if wcsaxes_compat.is_wcsaxes(axes):
    220                 im.axes.reset_wcs(ani_data[i].wcs)
--> 221                 wcsaxes_compat.default_wcs_grid(axes)
    222             else:
    223

[2017-07-20 18:26] DanRyanIrish commented on #31
@sjtimothy Can you supply the code you ran to get this error?  I didn't get this error, but there definitely seems to be something up with this function.  Perhaps @ehsteve can take a look when he's back from his travels.

[2017-07-20 18:31] sjtimothy commented on #31
Sure, this was using a locally saved fits file, not the sample data

from irispy.sji import SJICube, SJIMap
import matplotlib.pyplot as plt
import matplotlib.animation as animation

local='/Users/shelbe/Documents/IRIS/data/AR12661/'
import os
sji_flist=[]
for file in os.listdir(local):
    if file.endswith(".fits"):
        sji_flist.append(os.path.join(local, file))

mc=SJICube(sji_flist[0])
mc.p

[2017-07-20 18:33] sjtimothy commented on #31
I also tried plotting a slice of the map cube and got a different error:

mc[0:10].plot()
---------------------------------------------------------------------------
AttributeError                            Traceback (most recent call last)
<ipython-input-125-520746cb0c4c> in <module>()
----> 1 mc[0:10].plot()

~/Developer/irispy/irispy/sji.py in __getitem__(self, key)
    210             return

[2017-07-20 18:37] DanRyanIrish commented on #31
FYI: When typing out code in GitHub Issues, PRs, etc., you can bookend the code snippet with three tickmarks, `, (N.B. not quotation marks) to make it cleat that it's code.  For example
```mc[0:10].plot()```

Regarding the above plot error, I think you have to create a submap of the region you are interested in and then try plotting the submap.  Perhaps @ehsteve can give more advice on the next ca

[2017-07-21 10:43] DanRyanIrish commented on #41
This may be caused by a packaging bug in cube...

[2017-08-01 16:41] DanRyanIrish opened #43 "Parsing IRIS spectrograph headers to dict breaks for some files"
Some IRIS spectrograph files break the Initialization of the IRISSpectrograph object.  This appears to be caused by unusual formatting in the headers.

[2017-08-01 21:56] #43 closed

[2017-08-10 22:34] DanRyanIrish opened #47 "SpectrogramSequence object"
# Abstract
I have been thinking about the next stage of development for IRISpy.  I think we need a ```SpectrogramSequence``` object.

# User Facing Dimensionality
I think that the default dimensions from the user's point of view should actually be (exposure number, position along slit, wavelength).  Then there should be an attribute to allow the user to slice by (scan number, raster position, posi

[2017-08-28 15:55] #41 closed

[2017-08-28 16:34] shelbej commented on #31
When trying to run image coalignment on the map cube, I get this error:
'''AttributeError: 'SJICube' object has no attribute 'maps''''

Could this be related to the plotting errors? Should we add a maps attribute?

[2017-09-15 12:25] #47 closed

[2017-09-17 04:16] #33 closed

[2017-10-25 03:53] shelbej commented on #31
animation bug fix #62

[2017-10-31 21:45] DanRyanIrish commented on #35
Hi @Cadair.  Just looking over some old issues.  I haven't used __repr_hmtl__ before.  When would you say it is appropriate to make these?

[2017-10-31 21:46] #25 closed

[2017-11-01 08:45] Cadair commented on #35
Anything where having more than plain text would be good. So tables or maths etc.

[2018-03-14 15:59] DanRyanIrish opened #66 "SJICube Refactor"
```SJICube``` was the first working data object in IRISpy and played an important role in proving that Python could be used to handle IRIS data well.  Since then, however, there has been a lot of work done and SJICube is now due a refactor.

```SJICube``` should be rewritten to inherit from ```ndcube.NDCube``` and many of the attributes should be pruned.  In order to start the discussion on this t

[2018-03-16 17:09] DanRyanIrish commented on #66
@BaptistePellorceAstro: I think the first stage of this effort is to write a reader function to read in the SJI data into an ```NDCube``` object.  Then once that's working we can discuss the methods and metadata we want attached to the object and that'll form the basis for the ```SJICube``` object.

[2018-04-03 13:51] DanRyanIrish commented on #66
@BaptistePellorceAstro, well done for writing the new SJI reader function in PR #67.

I think the next step should be create a new SJICube class.  For now let's call it ```_SJICube``` so we can develop, play, and merge it with it without overwriting the existing ```SJICube```.  We can do that once we've got ```_SJICube``` to a usable state.

For the first version of ```_SJICube```, it should inher

[2018-04-04 11:50] tiagopereira commented on #66
@DanRyanIrish, I had a chat with Baptiste about `draw_slit`. We should better define the purpose of this method and when it should be called.

If I understand correctly, under the old `SJIMap` only one timestep was shown, and therefore `draw_slit` made more sense. However, in the new `SJICube` we have a time sequence. The plot object is also no longer a simple plot but a WCS animation. One can cal

[2018-04-04 12:05] DanRyanIrish commented on #66
Hi @tiagopereira.  Yes you're right.  ```draw_slit``` will need to be folded into the  ```SJICube.plot``` method.  I think it's fine to leave it out of the next PR and just focus on the ```__repr__```.  I think a bigger priority for ```SJICube``` is to fix the bug in ```NDCube.crop_by_coods```.  But we should also have a call and discuss what needs to go into ```SJICube```.

[2018-04-04 12:51] Cadair commented on #66
There isn't an equivalent of `ax[h/v]line` but there is http://docs.astropy.org/en/stable/api/astropy.visualization.wcsaxes.WCSAxes.html#astropy.visualization.wcsaxes.WCSAxes.plot_coord, which is probably your best bet.

[2018-04-16 19:44] DanRyanIrish opened #69 "How to deal with time since epoch (WCS standard) and date/time in NDCube/SJICube."
The use case is ```SJICube```.  The WCS includes time in seconds since epoch.  But users will likely want to be able to use date/time when slicing, indexing etc.  Should another layer of abstraction be built to allow users to interact with time in the WCS not only as seconds since epoch, but as date/time based on some epoch in the metadata?  Or should we have WCS time be only seconds since epoch w

[2018-04-17 08:56] steinhh commented on #69
I'm not very heavily involved in irispy (to say the least), but I have read way too much about FITS/WCS standards not to comment on this ;-). I think it would be a good idea if the routines are made as generic as possible - i.e. that they will work with FITS files that adhere to the official FITS standards as well as IRIS-specific standards. That way, it'll be easier - at some point in the distant

[2018-04-17 09:04] steinhh commented on #69
By the way, what does "a coordinate giving time in date/time" actually mean - a string-valued coordinate? And what should it be called?

[2018-04-17 16:34] DanRyanIrish commented on #69
Hi @steinhh.  Thanks so much for your contribution.  I agree that we should strive for generality as much as possible and leveraging other packages, thereby keeping ```irispy``` code-base leaner.  In fact, it was out of this philosophy that the ```ndcube``` package, on which ```irispy``` depends, was created.  Some of your comments about how WCS handles time I was not aware of.  So thanks so much

[2018-04-25 03:27] #31 closed

[2018-04-25 03:27] #30 closed

[2018-04-25 03:28] #35 closed

[2018-04-25 03:29] #34 closed

[2018-04-26 15:07] DanRyanIrish commented on #66
Now that @BaptistePellorceAstro is making great progress, I'd like to suggest revisit the roadmap agreed upon at the top of this issue.  I have thought of two very important features that I think are very important for handling SJI and IRIS data at large.  Depending on how much time @BaptistePellorceAstro has to go in his internship, we should consider working them into our roadmap.

First, ```SJI

[2018-04-26 15:17] BaptistePellorceAstro commented on #66
Nice ! My internship will end at the end of June so I did the first half of my internship. Tell me on what you want I work and I will doing it ! I will take a view on `spectrograph.py` to see how `NDCubeSequence` is used.

[2018-04-26 15:19] DanRyanIrish opened #72 "New SJICubeSequence Class"
The development of an ```SJICubeSequence``` class would provide a few important benefits.  Firstly, it would enable multiple SJI files to be read into a single object, say if a OBS was split over two files due an eclipse, or if a user wanted to combine data from different campaigns using the same OBS number.  Secondly, it would enable an ```SJICube``` to be broken out into a sequence of single ima

[2018-04-26 15:40] DanRyanIrish opened #73 "Proposed Changed to naming convention of SJI Classes"
Little thought has been given to a naming convention for SJI classes.  Currently, there is only one such class, ```SJICube```, which was named on day 1 without consideration.  However, issue #72 proposes a new ```SJICubeSequence``` class so this is a good time to raise this issue.

Since ```SJICube``` was first named, a naming convention has developed around the spectrograph objects:
* ```IRISSpec

[2018-04-26 15:42] DanRyanIrish commented on #66
Sounds like you're enthusiastic for this way forwards, @BaptistePellorceAstro!  Great.  I'll alter the roadmap at the top of this issue accordingly and also inquire about what if any work has been done on the response function fitting.

[2018-04-26 15:53] DanRyanIrish commented on #66
Roadmap updated.

[2018-04-27 15:16] DanRyanIrish commented on #73
@Cadair, could you give some reaction to this with your experience of the evolution of the SunPy naming conventions?  Having slept on it, I am in favour of the last option, i.e. ```IRISSpectrogramCube```/```IRISSpectrogramCubeSequence```/```IRISMapCube```/```IRISMapCubeSequence``` convention.  It is more wordy, but more explicit and far more  intuitive.  And tab complete means it will require only

[2018-04-30 15:53] DanRyanIrish commented on #73
After personal discussion between @Cadair and myself, we believe the third option (```IRISSpectrogramCube```/```IRISSpectrogramCubeSequence```/```IRISMapCube```/```IRISMapCubeSequence```) is the best way forward.

So @BaptistePellorceAstro, could you open a PR that changes the name of ```SJICube``` to ```IRISMapCube```?

[2018-05-02 13:28] tiagopereira opened #78 "Dealing with inconsistent WCS data"
Perhaps I'm just unlucky, but the first time I try to use the ndcube spectrograph class I get this error:

[code]
I traced the error and it seems like `WCS` from `ndcube.utils.wcs` does not like the WCS matrix from that file, which is:

[code]

This does NOT seem singular to me. In any case, `read_iris_spectrograph_level2_fits` should not bail out. It should deal gracefully with the error and cont

[2018-05-02 14:34] tiagopereira opened #79 "Making repr consistent across objects, better repr for spectrograph"
There is currently a lot of variation on what the `repr` of different IRISpy objects shows. I suggest this is made more consistent. For example, the `new_sji.SJICube` seems to be indented, and has redundant keywords such as "Observatory" (always IRIS) and "Instrument" (always SJI). The data dimensions also are shown in different ways, with the one in `IRISSpectrograph` being the least readable.

I

[2018-05-02 14:50] DanRyanIrish commented on #79
I agree with @tiagopereira that there is room for improvement.  These ```__repr__``` were put in at the start of the IRISpy project and never revisited.  The ```Instance Period``` bug is particularly horrific.

As for the use of ```pix```, it is a SunPy, and hence IRISpy, policy that numbers should always be associated with a unit where appropriate.  However, there is definitely room to make the p

[2018-05-02 18:40] tiagopereira commented on #73
I'm a little late to the party, but I think that name lengths are important and 'tab complete' should not deter from that (I'm sure everyone will type at least once in places where there is no tab complete). I also haven't had time to properly reflect on all the IRISpy objects, and right now it feels really confusing to have so many classes.

I don't see any reason to add `Cube` to the class names

[2018-05-02 18:48] tiagopereira opened #80 "Add a catch-all loader for IRIS FITS files"
It would be nice to have a generic load function to load any kind of IRIS file into the appropriate objects. E.g.:

    data = irispy.read_iris("some_file.fits")

And the type of data would be either an `IRISSpectrograph`, `IRISSJICube` or other appropriate class. This could work for any level file (assuming there are loader functions for all) and any instrument, since this information is all in t

[2018-05-02 21:53] DanRyanIrish commented on #78
Is the problem here:  ```PC2_3   =     -0.0112707177177 /```?  Should this be ```PC3_2```?

[2018-05-03 11:52] DanRyanIrish commented on #78
Ah, I thought it was SJI. Never mind then.

[2018-05-04 16:30] tiagopereira opened #82 "Make loading IRISSpectrograph more memory efficient"
I'm finding that `IRISSpectrograph`, or `read_iris_spectrograph_level2_fits()` takes a very long time to load and has a very high memory usage. Loading a moderate size IRIS raster in my laptop, which only has 8 GB of RAM, leads to lots of swapping and the machine nearly crawls to a halt.

Testing in different machines, I find the RAM that `read_iris_spectrograph_level2_fits()` uses is between 3-4

[2018-05-18 15:31] DanRyanIrish commented on #18
@BaptistePellorceAstro, @tiagopereira and I have been discussing how to implement this.  There is currently an open PR (#74).  In a telecon, we concluded that using the available dust mask files from the IRIS team are not suitable as they are a level 1 product and describe the whole CCD.  The data processing involved in producing level 2 from level 1 can include rotation, interpolation, and FOV ch

[2018-05-18 15:41] BaptistePellorceAstro commented on #18
Yes, I will work on that. In my reading function, I put nan value instead of -200 for unexposed pixels. Is the `calculate_dust_mask` can be used for other obersevation than IRIS ? If no, I can just keep my code.

[2018-05-18 15:58] DanRyanIrish commented on #18
@BaptistePellorceAstro, did you leave a comment on this issue?  I got an email with a comment but can't see it here.

[2018-05-18 16:02] BaptistePellorceAstro commented on #18
Yes, I get my answer just after commenting ;)

[2018-05-23 11:43] tiagopereira commented on #78
I found the problem here. It affects all sit and stare raster files, and happens because CDELT3=0. It seems that `astropy.wcs.WCS` does not like this and throws a singular matrix error. I think in these cases `CTYPE3` should be `Time` instead of `HPLN-TAN`, but we can't change IRIS's format, so must find a workaround instead. I don't know what is best. A simple fix would be to set `CDELT=1e-10` or

[2018-05-23 16:54] DanRyanIrish commented on #78
Thanks @tiagopereira for figuring this out. That does sound like you had to go digging in the weeds!

I agree with what say about the difference between the ideal and practical solutions. I’m not sure what the best way forward is either. I’ll give it sone thought. But perhaps your idea of setting CDELT3 to 1e-10 will end up being the best though...

[2018-05-29 19:14] DanRyanIrish commented on #20
This is addressed by the creation of the ```IRISMapCubeSequence``` class in PR #83.

[2018-05-29 19:14] #20 closed

[2018-05-31 17:46] #72 closed

[2018-06-01 19:41] DanRyanIrish opened #92 "Remove Deprecated SJI Classes/functions"
PR #91 replaces ```SJIMap```, ```SJICube```, and ```SJI_fits_to_cube``` with new classes/functions and makes the old functions simply raise an ```ImportError```.  These classes should be removed completely before the release of 0.1.

[2018-06-01 19:43] #18 closed

[2018-06-01 21:01] DanRyanIrish commented on #82
Hi @tiagopereira.  I've opened a PR irradicating the ```deepcopy``` you highlighted above in a hope of reducing the RAM requirements of the ```read_iris_spectrograph_level2_fits()```.  Could you give it a quick review and play it with to see if it improves the cases you tested at all?

Another thing we could do is have the uncertainty derivation be optional so the user can turn it off if they don'

[2018-06-06 08:27] tiagopereira commented on #82
Hi @DanRyanIrish, thanks for this. I don't have any time this week but will look at this next week. Please ping me again if I forget about this.

[2018-06-13 08:42] tiagopereira commented on #82
Here are some timings and memory usage of the spectrograph class. All these numbers were from my laptop, so obviously only relative differences matter. Numbers are from macOS Activity Monitor, and might differ from those of top.

The file I tested was `myfile = 'iris_l2_20180102_153155_3610108077_raster_t000_r00000.fits'`, a 602 MB file that should take about twice that amount of RAM once loaded (

[2018-06-13 09:20] DanRyanIrish commented on #82
Thanks @tiagopereira for this.  I think it certainly shows there is scope to improve the performance.  I think the size of the data compared to typical laptop hard drives shows that even for IRIS, there may be value to consider a dask-integrated ndcube in the future, or even more cloud-style computing like is done with pangeo.  But that is definitely beyond a longer term discussion.

Regarding you

[2018-06-13 11:50] tiagopereira commented on #82
I think it is unfortunate the way `memmap` works with the FITS scaling (that no scaling on the fly is possible), and that IRIS level 2 FITS files are scaled. Level 3, for example, don't have scaling and `memmap` can be used all the time.

For many workflows using `memmap` and unscaled units works fine. You can still make fits and so on and just scale the quantities that are a function of the inten

[2018-06-13 12:04] DanRyanIrish commented on #82
This is very interesting and raises some points I haven't given a lot of thought.  Currently the visualisation tools available via ```ndcube``` require reading everything into memory.  However, all those visualisation tools to supplied via a mixin class.  So it would be simple to replace this with a ```NDCubeMemmapPlotMixin``` that has the infrastructure you're talking about.  That doesn't necessa

[2018-06-13 13:03] Cadair commented on #82
@DanRyanIrish the plotting tools would work transparently with memmapped numpy arrays, no modifications would be needed.

[2018-06-14 12:27] BaptistePellorceAstro opened #96 "Replace test_sji.py by test_new_sji.py"
As we have modified the previous version of `sji.py`, we must do the same for the tests files. I will try to do it as soon as possible.

See PR #97

[2018-06-20 09:55] #96 closed

[2018-08-01 12:10] steinhh commented on #78
Sorry for getting into this discussion extremely late, but here's a rant from the FITS fanatic: The ideal solution is to fix the FITS files. They're not set in stone. It's perfectly doable - Martin sits next-door to me :). It will just take some time before the change is effectuated throughout the data set through a reprocessing. Those FITS files are invalid according to the FITS standard - which

[2018-08-01 14:12] DanRyanIrish commented on #78
Hi @steinhh.  Thanks for your contribution.  I completely agree that the "correct" thing to do is to fix the FITS headers, although that is beyond the competency of IRISpy.  However, if the IRIS team were willing to do this that would solve the problem not only for IRISpy, but as you say, for any instrument-non-specific routines that rely on valid FITS headers.  I would very much advocate for this

[2018-08-08 10:01] tiagopereira opened #100 "More header information needed"
The IRIS level 2 FITS header contains a lot of information that is currently not being passed to `IRISMapCube` or `IRISSpectrogramCube`.  Information such as calibration version used, XCEN/YCEN, SAA, data histogram levels, etc. Most of this information may not be important for many users, but currently it is not accessible at all via IRISpy (only a handful of header keywords are passed into `meta`

[2018-08-08 10:15] steinhh commented on #100
I agree. At least some of that information may in some cases be essential for the understanding/interpretation of the data (e.g. SAA). But a few items should actually _not_ be available, in particular XCEN and YCEN. The coordinates of the center of the FOV is easily derivable from the WCS information, and it would be a pity if simple routines rely on those keywords, as this would make the routines

[2018-08-31 12:01] tiagopereira commented on #82
Is there a verdict regarding the loading of the uncertainty? I'm organising a course right now, and even for SJI files, computing the uncertainty leads to a significant slowdown. It would be great if this could be optional, and even better if off by default.

As I see it, most workflows start by data exploration and further analysis such as error and uncertainty estimation only comes at a later st

[2018-08-31 14:43] Cadair commented on #82
sorry if I am missing something obvious, but could we not move the `uncertainty` calculation into a property? and then stick [this decorator](http://docs.astropy.org/en/stable/api/astropy.utils.decorators.lazyproperty.html#astropy.utils.decorators.lazyproperty) on it so it's only computed once?

[2018-09-09 00:12] DanRyanIrish commented on #82
Sorry I haven't replied to this.  I'll be back from the rocket campaign next week and will catch up with this.

[2018-09-18 18:46] #66 closed

[2018-09-18 18:52] DanRyanIrish commented on #100
This raises a good point that has largely been overlooked due to lack of priority.  I think it would be great if a list was compiled and discussed here of the keywords that should be in the meta.  Then once there's a consensus, the change can be made.

[2018-09-18 19:05] DanRyanIrish commented on #82
@Cadair's suggestion looks like an exciting one.  However, how would this work for ndcube?  Presumably it would require less work in the long run to have ndcube support this and IRISpy inherit it.  But a couple questions spring to mind.  The slicing slices the uncertainty array as well as the data array.  Does this mean the uncertainty will be calculated the first time slicing is done?  If so that

[2018-09-25 20:12] byrdie commented on #78
Is there currently a workaround for this problem? I see that @tiagopereira suggests "setting `CDELT3` to `1e-10`" but I do not know how this needs to be implemented. I am currently trying to do statistical analyses on large portions of the IRIS dataset, and this issue is slightly annoying...

[2018-09-25 20:16] byrdie opened #105 "Squashing "INFO: uncertainty should have attribute uncertainty_type." messages"
Using `read_iris_spectrograph_level2_fits()` throws many
[code]
messages. This makes it inconvenient to see other outputs of my program. Is there an efficient way to squash this message or fix the uncertainty parameter so `astropy` doesn't complain?

[2018-09-26 14:47] DanRyanIrish commented on #78
Hi @byrdie.  Are you using IRISpy in your work or does this issue have consequences beyond IRISpy?  There is currently not a fix but I'll have a quick look to see how this fix could be implemented.

[2018-09-26 15:00] DanRyanIrish commented on #105
This may help you to suppress the warnings so they are not printed to your screen: https://stackoverflow.com/questions/14463277/how-to-disable-python-warnings

[2018-10-02 17:32] byrdie opened #107 "Extracting/inserting data into an `IRISSpectrograph` object"
Is there a succinct way to extract the raw data from the `IRISSpectrograph` object as a 4D `ndarray`?
I have implemented despiking routines that are designed to operate on simple `ndarrays`, so I need to be able to extract the data from the `IRISSpectrograph` object, execute the despiking routine, and then insert the data back into the `IRISSpectrograph` object.

Currently, I am extracting the dat

[2018-10-03 13:11] tiagopereira commented on #107
You mean you want to merge all the wavelength windows into one dimension? This is not how the data are written in level 2 FITS files (each wavelength window is a FITS extension), so the data are never really a 4D array.

[2018-10-03 15:10] DanRyanIrish commented on #107
Hi @byrdie and @tiagopereira.  From my reading of your question @byrdie, you want to combine data from one spectral window, but over multiple raster scans into a single 4D array?  In this case ```path``` represents multiple FITS files?  Is this correct?  Assuming it is, then following on from what @tiagopereira said, not only is the data from each window in a different FITS extension, but the data

[2018-10-03 17:11] byrdie commented on #107
@DanRyanIrish you are correct, `path` represents multiple FITS files, so I am indeed trying to combine multiple raster scans into a single 4D array.
@tiagopereira and @DanRyanIrish, you both bring up good points of course, the 4D data should not be represented in a contiguous `ndarray` since it is both not presented that way (in the FITS files) and each raster position requires a different coordin

[2018-10-03 19:12] DanRyanIrish commented on #107
Hi @byrdie.  Actually having looked at it again, although conceptually there is no better way of combining the data from a sequence, there is a technically cleaner way that is a little faster if your sequence is very long.  That is, using list comprehension which turns your code into a one-liner.
[code]
Likewise if you want to combine the data into a 3D array, say if you were thinking of the x axi

[2018-10-04 11:42] tiagopereira commented on #107
@byrdie note that the IRIS mission already supports this type of 4D data structures, in the form of [level 3 files](http://iris.lmsal.com/itn26/iris_level3.html). But this implies converting the level 2 files to level 3 (about 2x larger because they are not scaled), and in your case I'm not sure if will lead to speed improvements. Plus IRISPy does not currently have a function to convert from leve

[2018-10-04 16:16] byrdie commented on #107
@DanRyanIrish thanks for the great examples, using list comprehension really cleans up my original code.
I'm not sure I understand your last example, I assume you meant
[code]
instead of
[code]
but wouldn't that make a 3D array from the 4th timestep at each raster position, instead of a 3D array of the 4th raster position over multiple scans?

I agree that since this can be easily expressed in one

[2018-10-04 16:32] tiagopereira commented on #107
IRIS level 2 FITS files are 16 bit integers. To get the correct units, these are multiplied by a factor and added a constant to become 32 bit floats (ie, scaled). The level 3 files are already saved as 32 bit floats, so they take twice the space.

[2018-10-04 16:57] DanRyanIrish commented on #107
@byrdie, yes that's exactly what I meant.  Thanks for correcting me.  And yes, is would create a 3D array of the 4th raster positions since by selecting only one raster position, you are effectively getting rid of the x dimension.  But if you want to maintain the 4D-dimensionality, you can add in a dummy (length 1) dimension using ```np.newaxis```:
[code]

[2019-04-03 02:34] kakirastern commented on #27
Hi, I am interested in offering help on this issue if it's not yet taken?

[2019-04-03 15:48] DanRyanIrish commented on #27
Hi @kakirastern.  More help on this issue would be great as our initial work has stalled and I think it's fair to say we need another injection over effort to move it forward.  I will set up a new branch to which we can make PRs to that maintains the work already done.

[2019-04-05 19:47] iamharshgupta commented on #27
Hi, I would like to work on this issue so do I start off with it ?

[2019-04-05 20:04] kakirastern commented on #27
Hi @iamharshgupta, I have expressed interest in this issue first so would like to give it a try...

[2019-04-05 20:51] DanRyanIrish commented on #27
Hi @iamharshgupta.  I'm thrilled to hear you are interested in contributing!  We can always use more help!  When it comes to this issue however, @kakirastern has already started working on it and I think it would be more efficient to have one person working on this issue at a time.

However, there are plenty of things to still get involved in.  Would you be interested in helping with an issue in t

[2019-04-05 20:55] DanRyanIrish commented on #27
@kakirastern I know I promised to set up a branch to which you can pull and open a PR to.  I'll do that this evening and let you know when it's available.

[2019-04-06 02:01] kakirastern commented on #27
@DanRyanIrish Yeah, been waiting for it... I appreciate your reply! Just let me know when it is ready.

[2019-04-06 04:39] iamharshgupta commented on #27
Hi @DanRyanIrish , could you please give me your riot username so I could talk to you there ?

[2019-04-08 14:27] DanRyanIrish commented on #27
Hi @kakirastern.  I had permissions issues over the weekend which meant I couldn't create the new branch for you like I said.  I've sorted that now though the new branch is ```time_dependent_response``` in the sunpy/irispy repo:
https://github.com/sunpy/irispy/tree/time_dependent_response
So you should checkout that branch in your own repo and start committing to it.  Then push it to your own fork

[2019-04-08 22:50] kakirastern commented on #27
Hi @DanRyanIrish. Yup, I would definitely need some kind of a walking through the process, as I haven't tried something similar before. But I will give it a try between now and when we meet on Riot say sometime during day time in EDT over the next few days to see if I can figure it out on my own first.

[2019-04-08 23:10] kakirastern commented on #27
Just checked-out the branch [https://github.com/sunpy/irispy/tree/time_dependent_response](https://github.com/sunpy/irispy/tree/time_dependent_response) and have set up tracking upstream from my local branch to my own fork at [https://github.com/kakirastern/irispy/tree/time_dependent_response](https://github.com/kakirastern/irispy/tree/time_dependent_response) Will start committing to it soon.

[2019-04-09 14:22] DanRyanIrish commented on #27
Also, the original IDL function that this project is rewritting is [here](https://www.heliodocs.com/xdoc/xdoc_print.php?file=$SSW/iris/idl/lmsal/calibration/fit_iris_xput.pro).  Don't worry if it's hard to understand, even if you know a bit of IDL.  But comparing it with what Alberto has written in Python might be helpful in understanding what the code is supposed to do.

[2019-04-09 15:23] kakirastern commented on #27
Yup, I have removed the original `iris_tool.py` file and replaced it with the renamed `mi_iris_tools.py` now known as `iris_tool.py` in PR #108.

[2019-04-12 19:45] #105 closed

[2019-04-12 19:54] #107 closed

[2019-08-01 18:12] tiagopereira opened #113 "Extra_coords keys inconsistent capitalisation"
The keys for `extra_coords` are upper caps in `IRISMapCube`, but lowercase in `IRISSpectrogramCube`. E.g.:

[code]

I don't know which one is preferred with ndcube, but it would be nice to have a consistent interface for SJI and SP files.

[2019-10-08 15:07] tiagopereira commented on #113
I think it is fair to capitalise keys from FITS files. So perhaps both should be capitalised.

[2019-11-12 16:14] #113 closed

[2020-01-13 17:42] mridullpandey commented on #100
hi @DanRyanIrish can you please suggest me key words that  is to be taken into in meta,and i'm  working on it

[2020-02-12 19:47] jacobdparker opened #126 "Plotting Slit Jaw and Spectrographs FOVs using WCS information"
Hello,

I am attempting to plot the FOV of both the IRIS Slit Jaw and Slit on top of an AIA image using the WCS information.  Following a procedure very similar to @tiagopereira in his irispy tutorial from IRIS10 I was able to do so, but the slit positions do not seem even visually centered in the Slit Jaw FOV.

I since have attempted to plot the IRIS Slit on top of the Slit Jaw data and found a s

[2020-02-13 19:06] jacobdparker commented on #126
Update:

I tried this same routine on multiple different coarse rasters with different points and it worked perfectly. So there appears to be an issue with this particular observation.

I also found that if I add 2 pixels to each slit position in the pixel_to_world call it places the slit correctly for all four positions.  This may or may not have to do with the fact that CRPIX for slit position i

[2020-02-17 12:13] tiagopereira commented on #126
Could it be that the calibration was not perfect for your dataset? Or maybe something is assuming a different CRPIX? What is the link to the dataset?

[2020-02-18 17:40] jacobdparker commented on #126
Hey @tiagopereira, here is the dataset I am using https://www.lmsal.com/hek/hcr?cmd=view-event&event-id=ivo%3A%2F%2Fsot.lmsal.com%2FVOEvent%23VOEvent_IRIS_20190930_171911_3604109624_2019-09-30T17%3A19%3A112019-09-30T17%3A19%3A11.xml

I wondered if it could be a calibration issue since other observations worked fine.  Are you, or is anyone else, aware of a step in the calibration that may lead to a

[2020-03-22 22:01] DanRyanIrish opened #131 "RasterSequence.cube_like_world_axis_physical_types Rename 1st axis type with "time"."
Currently, ```RasterSequence.cube_like_world_axis_physical_types``` returns the relevant axis types from the WCS, as it is inherited straight from ```NDCubeSequence```.  However, in the case of ```RasterSequence```, the first cube-like axis is most appropriately described as time, regardless of whether time is stored in the WCS or extra coords.

Therefore, propose changing the first returned physi

[2020-03-22 22:59] DanRyanIrish opened #132 "Rename RasterSequence slit_step_axis to time_axis"

[2020-03-22 23:02] DanRyanIrish opened #133 "Provide aliases on RasterSequence to common_axis_extra_coords and sequence_axis_extra_coords"
Provide more intuitive aliases to common_axis_extra_coords and sequence_axis_extra_coords such as
```RasterSequence.time_axis_coords```
and
```RasterSequence.scan_number_axis_coords```

[2020-03-23 19:52] DanRyanIrish opened #134 "Rename Raster(Sequence).spectral_axis to just spectral."

[2020-03-24 03:13] #132 closed

[2020-03-24 05:30] #92 closed

[2020-03-27 14:17] DanRyanIrish commented on #27
Achieved in PR #119

[2020-03-27 14:17] #27 closed

[2020-03-27 14:19] #69 closed

[2020-03-27 14:31] DanRyanIrish opened #135 "Pixel axis numbers <-> world physical types"
[Equivalent PR in ```ndcube```](https://github.com/sunpy/ndcube/pull/243) punted to 2.0.  Do we want to implement this functionality directly in ```sunraster``` to have it sooner?

[2020-03-27 14:37] DanRyanIrish commented on #135
Combined into Issue #131

[2020-03-27 14:37] #135 closed

[2020-03-29 06:02] #133 closed

[2020-03-29 06:02] #134 closed

[2020-03-29 06:04] DanRyanIrish opened #137 "Remove IRIS-specific code except for spectrograph reader"
All iris-specific code should be moved to ```sunkit-instruments``` pending consensus that that's where it should live.  In the meantime, the IRIS-code will remain available in sunraster on the IRISpy branch.

The one IRIS function that should be kept is the spectrograph reader function.  This needs to be edited to read the data into ```Raster```, ```RasterSequence```, and ```NDCollection``` object

[2020-03-29 06:05] DanRyanIrish opened #138 "Refactor CI & other package infrastructure"
```sunraster``` needs its package infrastructure updated to match SunPy's current set up.

[2020-04-04 08:55] kakirastern opened #141 "Proposal for some tutorial material to accompany sunraster"
There is a need for some documentation in the form of, for example, some tutorial (series) to accompany the release of version 0.1 of `sunraster`. The goal is to serve general educational purposes for using `rasterpy` with IRIS data. Would like to see some elements contained in https://iris.lmsal.com/data.html to be included in the proposed documentation.

The contents of that documentation can fo

[2020-04-04 14:24] DanRyanIrish opened #142 "Change name of Raster to SpectrogramCube and Sequence Refactor"
Wandering thoughts:

I prefer the sound of ```Raster``` and how it matches with ```RasterSequence``` but perhaps it over-specifies what the class is for.  ```Raster``` also supports sit-and-stare observations which may be confusing to users.  Or more likely, users will not realise that ```Raster``` is also the appropriate class for sit-and-stare observations.  The ```Raster``` class could also be

[2020-04-04 17:00] DanRyanIrish commented on #141
I think the documentation for ```sunsraster``` should be agnostic to the instrument that produces the data.  Also, ```sunraster``` does not provide the extensive data analysis workflow outlined in ITN 26.  Documentation is vital.  But perhaps you could specifically suggest what is lacking in the current [```sunraster``` documentation](https://github.com/sunpy/sunraster/tree/rasterpy/docs)?

[2020-04-04 17:16] kakirastern commented on #141
One thing I noticed is some tutorial(s) could be added to the existing [`sunraster` documentation](https://github.com/sunpy/sunraster/tree/rasterpy/docs). And, I agree with you that the docs for `sunraster` should be agnostic to the instrument used. I am so used to the connection between `irispy` and `IRIS` data hence I made an assumption in my first comment. So yes, the new docs should include ma

[2020-04-05 13:24] kakirastern commented on #141
Let me also work on improving the [`sunraster` documentation](https://github.com/sunpy/sunraster/tree/rasterpy/docs) next. I will follow-up directly with some PR(s).

[2020-04-06 17:08] kakirastern commented on #141
Hi @DanRyanIrish If you still remember there was an occasion during GSoC last summer when you assigned me to get some solar data to test some `IRISpy` function, I was actually having problems with the workflow and needed help managing the task. It is with this in mind that I opened this issue so that we will have some tutorial guiding the new user of solar data from fetching existing solar data (s

[2020-04-09 02:46] DanRyanIrish commented on #141
Hi @kakirastern.  Thanks for your thoughts on this.  As helpful as a one-stop-guide showing all the stages of the workflow for solar physics analysis would be, I feel that this may be too large a scope for the ```sunraster``` docs.  It may be better suited to somewhere like the sunpy gallery.

My reasoning is that straying beyond ```sunraster``` tools has the potential to explode into a very detai

[2020-04-09 02:57] DanRyanIrish commented on #142
@hayesla do you have any thoughts on this?

[2020-04-09 05:19] DanRyanIrish opened #143 "Finalize sunraster 0.1 docs."

[2020-04-09 17:21] hayesla commented on #142
Hmm I see your point, and even myself when I think of `raster` I only think of a rastering spectrogram rather than a spectrogram ...

Along those lines I'm in favor of potentially following the similar API to NDCube - i.e having the `SpectrogramABC`?

[2020-04-09 18:46] DanRyanIrish commented on #142
Proposed way forward after consultation with @hayesla.
* Rename ```Raster``` -> ```SpectrogramCube```
* Create new class, ```SpectrogramSequence```, for non-rastering sequence of ```Spectrogram```s without any raster-specific API.  (This should mainly be a copy-paste-delete job from ```RasterSequence```.
* Refactor ```RasterSequence``` to inherit from ```SpectrogramSequence```.  (This should mainl

[2020-04-10 21:38] DanRyanIrish opened #145 "Finalise coord property names on Spectrogram classes"
* ```SpectrogramCube/Sequence.spectral``` -> ```spectral_axis``` (consistency with ```specutils.Spectrum1D```.
* ```SpectrogramCube/Sequence.lon/lat```: Confirm what they are/will be in ```sunpy.Map```.  There was discussion about making them less tied to specific coodinate systems.

[2020-04-10 23:40] #138 closed

[2020-04-10 23:40] #131 closed

[2020-04-10 23:40] DanRyanIrish commented on #138
Addressed by PR #144

[2020-04-11 00:09] DanRyanIrish opened #146 "Move calculation of uncertainty out of sunraster IRIS reader function"
Only do this once a function exists in ```sunkit-instruments``` that takes a sunraster object, calculates the uncertainty and can attach it to the object.

[2020-04-11 00:50] kakirastern commented on #141
@DanRyanIrish Understood

[2020-04-11 03:53] #145 closed

[2020-04-11 10:27] kakirastern commented on #143
@DanRyanIrish Let me do some proofreading of the current docs on the `rasterpy` branch and make updates/modifications where necessary.

[2020-04-11 15:20] #142 closed

[2020-04-11 15:23] DanRyanIrish commented on #141
Btw, this tutorial idea is a good one and if you would like to work on one, I suggest you look through the sunpy docs and sunpy gallery and see if there is already something there that provides what you are looking for.  If not, talk with people on the sunpy riot channel and get some feedback about whether there's a space for such a tutorial there.

I just feel that most people's point of entry to

[2020-04-11 15:23] #141 closed

[2020-04-11 15:34] DanRyanIrish commented on #143
@kakirastern I merged PR #148 so all the main API changes should now be in raster (except for the deletion of IRIS-specific code).  So if you are working on the docs, then you can issue your PR straight to the rasterpy branch and have the benefit of the CI.  I stress again that PR #148 changed the class and module names, so don't be surprised if there are a lot more failures all of a sudden.

[2020-04-11 15:36] kakirastern commented on #143
Hi @DanRyanIrish No worries! Noted and I will be careful while working on the `rasterpy` branch.

[2020-04-11 16:02] DanRyanIrish opened #149 "Reimplement regular slicing API for RasterSequence so it plays nicely with NDCollection."

[2020-04-11 16:37] #149 closed

[2020-04-11 18:30] DanRyanIrish opened #151 "Set up testing against the ndcube 1.3 branch as well as ndcube master"
Hi @nabobalis, the recent API breaking changes to the ndcube master branch mean that testing ```sunraster``` against does not reflect whether ```sunraster``` will work with the stable release of ```ndcube```.  Is it possible to set up additional CI tests that use the ndcube 1.3 branch, so we can confirm that ```sunraster``` v0.1 will work with ```ndcube``` v1.3.x?  Is that a difficult job?

[2020-04-11 18:31] #137 closed

[2020-04-11 18:33] DanRyanIrish commented on #143
@kakirastern, I also just merged #147 so you will need to update your version of the rasterpy branch.  This however, should remove an failures due to IRIS-specific code.  Any that remain do need to be examined.

[2020-04-11 18:33] DanRyanIrish opened #152 "Do not release 0.1 until ndcube 1.3.1 released"

[2020-04-11 18:40] DanRyanIrish opened #153 "Replace master branch with rasterpy branch"
Currently master still holds IRISpy code, although all recent development has been performed on the rasterpy branch with a view to releasing ```sunraster``` which will not include any IRIS-specific code (except the spectrograph reader).

Before releasing ```sunraster``` v0.1, we need to replace master with rasterpy which will break any users' code.  However, this can be fixed by simply switching t

[2020-04-11 18:48] nabobalis commented on #151
It should be done already. Let me check.

[2020-04-11 18:58] nabobalis commented on #151
The dev build checks with master for astropy, ndcube and sunpy. I can remove them and leave ndcube?

[2020-04-11 18:59] DanRyanIrish commented on #151
Actually if it's an easy thing, I actually need the tests to be against the 1.3 branch.  I want to make sure it's working with the planned but not yet released 1.3.1 version.  Is that difficult/possible?

[2020-04-11 19:01] DanRyanIrish commented on #151
But keeping the tests against master as well is important to know for keeping up with ndcube 2.0 development.

[2020-04-11 19:15] nabobalis commented on #151
It tests with the latest released version of ndcube normally and the master version too.

[2020-04-11 19:18] DanRyanIrish commented on #151
OK.  So in order to be 100% sunraster works with ndcube 1.3.1 is to release it and then run the sunraster CI?

I guess that'll have to do.

[2020-04-11 19:18] DanRyanIrish commented on #151
Thanks!

[2020-04-11 19:18] nabobalis commented on #151
Well if the 1.3.1 changes are on master, they will be tested.

It should be possible to setup the branch test.

[2020-04-12 03:09] DanRyanIrish commented on #151
OK, that'd be great.  Perhaps you could show me how to do that on Monday?

[2020-04-12 10:48] nabobalis commented on #151
I opened a PR for this.

[2020-04-13 17:03] #151 closed

[2020-04-14 01:10] DanRyanIrish opened #157 "RasterSequence.time and exposure time return SnS-like forms"
Over-ride ```RasterSequence.time``` and ```RasterSequence.exposure_time``` to concatenate rather than stack the coords from each cube.

[2020-04-14 01:17] #157 closed

[2020-04-14 17:03] DanRyanIrish commented on #153
@tiagopereira do you have any concerns about this?

[2020-04-14 17:39] Cadair commented on #153
I can't imagine that many people are rocking master branch installs of the old irispy :+1: from me for just making the switch.

[2020-04-14 19:22] DanRyanIrish commented on #153
Thanks @Cadair.  Sounds like there's a consensus for the switch.  @tiagopereira agrees too.  Once once the docs are finalized and I've released ndcube 1.3.1, we can do the switch and then release sunraster 0.1.

[2020-04-15 15:37] kakirastern commented on #143
Okay, sure @DanRyanIrish 👍

[2020-04-18 15:39] #143 closed

[2020-04-18 15:39] #152 closed

[2020-04-22 15:40] #153 closed

[2020-05-05 10:12] Cadair opened #166 "Remove hyperlinks from titles"
The hyperlinks in the titles leads to *really* bad contrast in the sidebar:

![image](https://user-images.githubusercontent.com/1391051/81055768-48d56b80-8ec1-11ea-9f8f-5fcdcd3c86bc.png)

While this really is a theme issue (sunpy/sunpy-sphinx-theme#112) you should mitigate it in the short term by just removing the hyperlinks.

[2020-05-20 16:54] kakirastern commented on #166
Let me take this one on

[2020-06-26 15:26] DanRyanIrish opened #167 "Spectrogram.__str__ hard-codes order of axis types"
[This line](https://github.com/sunpy/sunraster/blob/master/sunraster/spectrogram.py#L217) needs to prints out the axis types in the order which they are in the dat cube.  At the moment it assumes the order is always ```(Slit steps, Slit height, Spectral)```.

[2020-06-30 01:30] kakirastern commented on #167
Looks like the solution is not immediately obvious... Guess will need to test the code with some spectrograms to find out the pattern or to get a sense.

[2020-07-05 19:10] kakirastern commented on #166
Almost forgot about this, will get to this as soon as I can.

[2020-07-23 09:43] #166 closed

[2020-10-06 11:09] #167 closed

[2021-01-04 15:08] DanRyanIrish opened #176 "Required Upstream Infrastructure for SPICE Analysis"
To support tools for performing instrument-specific spectral analysis on SPICE data, the following generalized infrastructure must be developed/improved with the following priority:

| Functionality  | Use Case  | Package  | Equivalent/Generalized Infrastructure  | Open Issue/PR  |
| :------------: | :---------: | :--------: | :-------------------------------------: | :--------------: |
|  Fast No

[2021-01-04 17:52] DanRyanIrish opened #177 "Update sunraster to work with ndcube 2.0"
### Description

ndcube 2.0 is a major API-breaking update to ndcube.  The API will cause some code breakages in sunraster and so sunraster must be updated.

Make next version of sunraster only compatible with ndcube 2.x rather than having sunraster work with both ndcube 1.x and 2.x.

[2021-02-08 20:43] dstansby opened #180 "Add example gallery"
It would be great if an example gallery could be added to the docs, with a very simple example showing how to load a file (perhaps from IRIS?) into `sunraster`.

[2021-02-20 12:34] godslayer201 commented on #177
Hey Dan,

Can I start doing this in parts which require attention for ndcube? It would be a good chance for me to learn hands on for how sunraster really works with ndcube.

[2021-11-08 18:07] nabobalis opened #190 "`test_ndcube_components_after_slicing` was skipped due to a bug"
So the test that is failing is:

`sunraster/tests/test_spectrogram.py::test_ndcube_components_after_slicing`
at
[code]
with `TypeError: Unsupported operand type(s) for ufunc add: 'Time,Quantity'`,

Situation before it fails
[code]

The test is using:
[code]

The constructed test Cube also has the same problem:

[code]

It goes to:
[code]
and errors on `self._get_axis_coord`, which is from `self.ax

[2021-11-08 18:15] #177 closed

[2021-11-10 17:26] Cadair commented on #190
kinda related to https://github.com/spacetelescope/gwcs/pull/333

[2021-11-10 17:35] Cadair commented on #190
This appears to be an astropy bug with length-1 tables:

[code]

[2021-11-11 21:51] DanRyanIrish opened #191 "Update docs to new APIs"
### Description

The API of the data objects have been subtely changed for 0.3.  For example, the prefix `SnS` has been changed to `sns` in the sns method names.  These also need changing in the docs.

[2021-11-19 17:18] ebuchlin opened #194 "Documentation version for "latest" and broken links"
Hello,
The documentation for ["latest"](https://docs.sunpy.org/projects/sunraster/en/latest/) points to version "sunraster 0.1.dev349+gf27d784", I would expect it to be a more recent version than ["stable"](https://docs.sunpy.org/projects/sunraster/en/stable/) (which is 0.2.0).

In [DataClasses (stable)](https://docs.sunpy.org/projects/sunraster/en/stable/data_classes.html), most (or all) links to

[2021-11-19 18:05] nabobalis commented on #194
Thanks for the report, I will look into it and fix this.

The old documentation has been updated to the new ndcube version and that will be 0.3.0 coming out soon.

[2021-11-19 20:16] nabobalis commented on #194
A new release of sunrsater is out. We have a new issue with RTD but it looks like the stable docs have updated ok.

[2021-11-19 23:49] nabobalis opened #195 "Codecov Hook is broken"

[2021-11-19 23:50] #194 closed

[2021-11-19 23:51] nabobalis commented on #194
RTD has been restored and with the new documentation. The links there should work.

If they are still broken, please re-open this PR and we can fix each case.

[2021-12-31 14:14] ebuchlin opened #196 "`read_spice_l2_fits` fails because of aligned axes on wide-slit SPICE L2 files"
### Description

Opening a SPICE L2 file corresponding to a raster taken with the wide (30") slit (`solo_L2_spice-w-ras_*.fits` files) with `read_spice_l2_fits` fails: there is a "ValueError: Aligned axes are not all of same length." exception, while we expect these files to open with no error.

### Steps to Reproduce

* Download [solo_L2_spice-w-ras_20201117T180612_V08_33554567-000.fits](https://

[2022-01-04 14:09] DanRyanIrish commented on #196
Hi @ebuchlin.  Thanks for raising this bug.  From your description above, it seems that array axes associated with wavelength should not be aligned, even if they are also associated with other coordinates, e.g. spatial X.  (The exception of course, if the data come from the same spectral window.)  If my understanding is correct, then this bug should be fixed with the following change to [spice.py

[2022-01-06 16:13] ebuchlin commented on #196
Hi @DanRyanIrish, yes this works in this case (but with `not in` instead of `in`), and it seems reasonable to exclude from aligned axes all SPICE L2 files array axes associated with wavelength (there should be only one).

However, we have now found an other case showing that this way of determining aligned axes is still insufficient. SPICE has the capability to bin in the y direction with differen

[2022-03-08 18:28] nabobalis commented on #191
From a quick search, I can't find any reference to "SnS" by case anymore.

[2022-03-08 18:28] #191 closed

[2022-03-08 18:29] nabobalis commented on #195
Fixed

[2022-03-08 18:29] #195 closed

[2022-03-08 18:49] nabobalis commented on #80
Moved to https://gitlab.com/LMSAL_HUB/iris_hub/irispy-lmsal/-/issues/4

[2022-03-08 18:49] #80 closed

[2022-03-08 18:52] nabobalis commented on #100
Moved to https://gitlab.com/LMSAL_HUB/iris_hub/irispy-lmsal/-/issues/13

[2022-03-08 18:52] #100 closed

[2022-03-08 18:55] nabobalis commented on #82
Moved to https://gitlab.com/LMSAL_HUB/iris_hub/irispy-lmsal/-/issues/14

[2022-03-08 18:55] #82 closed

[2022-03-08 18:57] nabobalis commented on #126
Hi @jacobdparker, did you ever solve this?

Recently other people have noticed this and I am trying to work out the issue.

[2022-03-08 19:04] #190 closed

[2022-03-08 19:04] nabobalis commented on #190
I recall we patched this in ndcube.

[2022-03-08 19:05] nabobalis commented on #180
There are examples in irispy on this now as that IO code is there now.

[2022-03-08 19:11] nabobalis commented on #146
Do you mean?

[code]

That is in the SJI reader?

[2022-03-09 11:05] DanRyanIrish commented on #146
Yes.  The reasoning was that for large IRIS data cubes, calculating the uncertainty during the read-phase made the reader slow.  If also could require a lot of memory.

Yes, I believe it is/was.  The uncertainty calculation should be valid for spectrograph and SJI.  The only detector-specific part was the readout noise value.  But that was looked up for the relevant detector before the calculation

[2022-03-10 12:45] jacobdparker commented on #126
No I have not solved this issue.

[2022-03-11 14:13] ayshih commented on #126
As discussed on Element, the issue turns out to be that irispy+sunraster do not read in the per-exposure WCS metadata from the extension in the IRIS FITS file, but instead only read in the (average) WCS metadata from the primary header.  When the per-exposure WCS metadata is used, the slit position matches the slit-jaw image as it should.

[2022-03-22 22:48] nabobalis commented on #146
As I am removing the SJI reader from sunraster, what should happen to this issue?

[2022-03-23 15:49] DanRyanIrish commented on #146
Oh, but you moved the spectrogram reader out as well, didn't you?  In that case this issue should be closed.

[2022-03-23 16:30] #146 closed

[2022-05-06 18:25] ebuchlin opened #202 "`read_spice_l2_fits` fails on files with lost telemetry"
### Describe the bug

`read_spice_l2_fits()` fails on SPICE files with lost telemetry as it considers non-window HDUs that are present in the FITS file in this case as windows.

### To Reproduce

* Download [this file](https://owncloud.ias.u-psud.fr/index.php/s/HpxL4jpHwezgkLt)
* Run the following code:

[code]

Trace:

[code]

### What happened?

SPICE files with lost TM have additional HDUs: LOS

[2022-05-09 14:22] ebuchlin commented on #202
Better way of listing of windows according to SPICE pipeline manager:  list the primary HDU plus all extensions with with XTENSION= ‘IMAGE   '

[2022-06-02 12:54] hayesla commented on #180
just building on this, currently at the Solar Orbiter summer school, and I think it would be really nice to show an example of reading in some data, pulling out a spectral line for example, and maybe fitting it with astropy etc - ping @AlexandrosKoukras

[2022-06-02 12:59] AlexandrosKoukras commented on #180
There is already an example on how to read SPICE data in the SPICE [website](https://spice-wiki.ias.u-psud.fr/doku.php/data:data_analysis_manual:sunraster) which could be a nice starting point.

[2022-06-08 15:09] EdBehn commented on #202
Perhaps a solution would be only to include HDUs with type PrimaryHDU or ImageHDU. The others have type BinTableHDU.

[2022-06-08 19:27] nabobalis commented on #126
This has been addressed in a 0.2.0rc1 release of `irispy-lmsal`, I plan to improve it in a future release to be less slow.

[2022-06-08 19:27] #126 closed

[2022-06-08 19:35] nabobalis opened #206 "Improve tests for the spice level 2 reader"
### Provide a general description of the issue or problem.

We recently closed some bugs with the spice reader in sunraster.

https://github.com/sunpy/sunraster/issues/196 and https://github.com/sunpy/sunraster/issues/202

Issue is, we don't have any tests for these cases, partly due to the size of the files, downloading them for a test would take too long and we can not add them to the repository

[2022-06-08 19:44] nabobalis commented on #202
The test file loads with https://github.com/sunpy/sunraster/pull/205

[2022-06-08 19:46] nabobalis commented on #196
The test file loads with https://github.com/sunpy/sunraster/pull/204

If you find other files that are broken, please do either reopen this issue or create a new one please!

This is in the sunraster release 0.4.2, if you update to that `pip install -U sunraster` (you will have to wait about 30 minutes before it shows up on PyPi for install).

[2022-06-08 19:46] #196 closed

[2022-07-14 15:02] ebuchlin opened #208 "`read_spice_l2_fits` fails on files with additional distortion information"
### Describe the bug

`read_spice_l2_fits()` fails on SPICE files with additional distortion information as it considers the "WCSDVARR" ImageHDUs that are present in the FITS file in this case as windows.

### To Reproduce

* Download [this file](https://owncloud.ias.u-psud.fr/index.php/s/dJznPsQFJABgs9p)
* Run the following code:

[code]

Trace:
[code]

### What happened?

There are now additiona

[2022-07-14 15:02] ebuchlin commented on #202
Now we have such files with WCSDVARR; I have opened issue #208 for this.

[2022-07-14 15:02] #202 closed

[2022-10-06 21:49] nabobalis commented on #208
https://github.com/sunpy/sunraster/pull/215 was merged in that skips the problematic window but a formal treatment would be more useful. If future readers check the last part of the PR's comment.

[2022-10-07 09:18] ebuchlin commented on #208
@nabobalis should I open another issue to keep track of this, so that this issue can be closed?

[2022-10-07 14:28] nabobalis commented on #208
Sure! I was being lazy and repurposing this issue but a new one would be cleaner.

[2022-10-09 19:40] ebuchlin opened #216 "SPICE reader: take into account additional distortion information"
### Describe the feature

The current SPICE FITS files include "WCSDVARR" ImageHDUs to represent additional distortion information (see the [draft WCS IV paper](https://www.atnf.csiro.au/people/mcalabre/WCS/dcs_20040422.pdf)). Distortion from the instrument optics is already corrected in SPICE L2 FITS files, but the additional distortion in the WCSDVARR HDUs is the one that comes from spacecraft p

[2022-10-09 19:42] ebuchlin commented on #208
This is now #216,

[2022-10-09 19:42] #208 closed